.index-cover{
    background:url("Faye/62487.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    display: table;
    width: 100%;
}